@charset "utf-8";

@font-face {
    font-family: 'Sriracha' ;
    src: url(../fontes/Sriracha/Sriracha-Regular.ttf) format(TrueType);
}

@font-face {
    font-family: 'Rubik' ;
    src: url(../fontes/Rubik_Mono_One/RubikMonoOne-Regular.ttf) format(TrueType);
}



:root {
    --font-title:'Rubik',cursive ;
    --font-paragraph:'Sriracha',cursive;
}


* {
    font-family: var(--font-paragraph);
    font-size: 3vw;
    margin: 0px;
    padding: 0px ;
}

body {
    background-color: rgb(63, 59, 59);
}
header {
    background-color: black;
    color: white;
    padding: 30px 10px
}
    header > h1 {
        font-family: var(--font-title);
        font-size: 5vw;
        font-variant: small-caps;
        text-align: center;
        margin-bottom: 12px ;
    }
    header > p {
        font-size: 16px ;
        text-align: center;
        margin-bottom: 12px ;
    }
    header > p > a {
        color: white ;
        font-size: 16px;
        font-weight: bolder;
        text-decoration: none;
    }
        header > p > a:hover {
            text-decoration: underline;
        }



main
    section {
        padding-top: 12vh;
        padding-left: 28px;
        padding-bottom: 8vh;
        line-height: 2em;
    }
        .normal {
            background-color: white;
            color: black;
        }

        .imagem {
            background-color: black;
            color: white ;
        }
        .imagem > p {
            background-color: rgba(105, 102, 102, 0.68);
            width: 550px;
        }

footer {
    color: white;
    background-color: black ;
    text-align: center;
    padding: 11px;
}
