@charset "utf-8";

@font-face {
    font-family: ;
    src: url();
}

:root {
    --cor1:black;
    --cor2:white;

    --font1:;
    --font2:;
    --font3:;
}

* {
    font-size: 16px;
    margin: 0px;
    padding: 0px ;
}

header {
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 30px 10px
}
    header > h1 {
        font-variant: small-caps; /*deixa as letras maiusculas porém pequenas*/
        text-align: center;
        margin-bottom: 12px ;
    }
    header > p {
        text-align: center;
        margin-bottom: 12px ;
    }
    header > p > a {
        color: var(--cor2);
        font-weight: bolder;
        text-decoration: none;
        
    }
    header > p > a:hover {
        text-decoration: underline;
    }



main
    section {
        padding-top: 8vh;
        padding-bottom: 8vh;
        line-height: 2em;
    }
        .normal {
            background-color: var(--cor1);
        }

        .imagem {

        }



footer {
    color: var(--cor2);
    background-color: var(--cor1);
    text-align: center;
    padding: 11px;
}
